[Unit]
Description=Geth (MCN chain)
After=network-online.target
Wants=network-online.target

[Service]
User=chain-user
WorkingDirectory=/home/chain-user/BirChain
LimitNOFILE=1048576
Restart=always
RestartSec=5


ExecStart=/opt/geth-1.13.11-stable/geth \
  --datadir /home/chain-user/BirChain/mainnet \
  --networkid 2325 \
  --port 30303 \
  --syncmode full \
  --mine \
  --miner.etherbase 0xfE4800cA5a48670cc5f591a51F517BA8F682D4Ae \
  --unlock 0xfE4800cA5a48670cc5f591a51F517BA8F682D4Ae \
  --password /home/chain-user/BirChain/password.txt \
  --miner.gasprice 49000000000 \
  --maxpeers 50 \
  --verbosity 3 \
  --rpc.gascap 100000000 \
  --rpc.txfeecap 100000000000 \
  --http.vhosts "localhost" \
  --http.corsdomain "http://127.0.0.1"

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target