[Unit]
Description=Geth Splitter Auto Distributor (split.js)
After=network-online.target

[Service]
Type=simple
User=chain-user
WorkingDirectory=/home/chain-user/BirChain
ExecStartPre=/bin/sh -lc 'for i in $(seq 1 60); do [ -S /home/chain-user/BirChain/mainnet/geth.ipc ] && exit 0; sleep 1; done; exit 1'

ExecStart=/bin/sh -lc 'while :; do sleep 60; echo "// keepalive"; done | exec /usr/local/bin/geth attach --preload "/home/chain-user/BirChain/split.js" /home/chain-user/BirChain/mainnet/geth.ipc'

Restart=on-failure
RestartSec=5
KillSignal=SIGINT
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target